#total{
    height: 2500px;
    width: 1300px;
    background-color: rgb(248, 245, 224);
}
    
#entete{
    height: 200px;
width: 1299px;
background-image: url(images/ric.jpg);
background-size: inherit;
background-position: bottom;
margin-right: 1px;
}
#options{
    padding-left: 200px;
    padding-top: 40px;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
    padding: 10px;
    border-color: darkcyan;
    border-style: ridge ;
    border-radius: 20px;
      margin-left: 20px;
     background-color: darkgray;
     margin-right: 20px;
      
     
}
li:hover{
    background-color:rgb(247, 243, 247);
    
}
h1{
    text-align: center;
    font-style: italic;
    font-weight: 600;
}
h2{
   font-family: 'Times New Roman', Times, serifsS; 
   text-align: left;
   margin-left: 170px;
}
#milieu{
    height: 2000px;
}
#desville{
    height: 320px;
    margin-right: 150px;
    margin-left: 95px;
    font-style: oblique;
    font-size: 30px;
}
#a{
    border-color: gold;
    border-radius: 20px 20px 10px 10px;
    border-style: double;
    height: 600px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;

}
#desa{
    height: 450px;
    float: left;
    margin-left: 10px;
    width: 600px;
    font-size: 35px;
    
}
#desa, #imga{
    display: inline-block;
    height: 400px;
    margin-top: 30px;
    
}
#imga{
    float: right;
    margin-right: 10px;
    width: 400px;
}
#img1, #img2{
    width:400px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    
}
#footer{
    width: 1300px;
    background-color: rgb(214, 199, 112);
    height: 100px;
    
}
#end{
    font-style: oblique;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 500px;
    font-size: 35px;
    
}